@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="form">
    <div class="form-row heap-row" data-heap-number="0">
        <div class="form-group col-md-2">
            <label>Heap 1</label>
            <input type="number" class="form-control heap-size" min="1" max="12" value="3" />
        </div>
        <div class="form-group col-md-10 heap-form-group" style="display: none;">
            <label>Remove</label>
            <div class="btn-group heap-buttons d-block"></div>
        </div>
    </div>
    <div class="form-row heap-row" data-heap-number="1">
        <div class="form-group col-md-2">
            <label>Heap 2</label>
            <input type="number" class="form-control heap-size" min="1" max="12" value="5" />
        </div>
        <div class="form-group col-md-10 heap-form-group" style="display: none;">
            <label>Remove</label>
            <div class="btn-group heap-buttons d-block"></div>
        </div>
    </div>
    <div class="form-row heap-row" data-heap-number="2">
        <div class="form-group col-md-2">
            <label>Heap 3</label>
            <input type="number" class="form-control heap-size" min="1" max="12" value="7" />
        </div>
        <div class="form-group col-md-10 heap-form-group" style="display: none;">
            <label>Remove</label>
            <div class="btn-group heap-buttons d-block"></div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <input type="button" class="btn-play btn btn-primary" value="Click to Play" style="width: 100%;" />
        </div>
        <div class="form-group col-md-2">
            <input type="button" class="btn-hint btn btn-light" value="Get a Hint" style="width: 100%; display: none;" />
        </div>
        <div class="form-group col-md-8">
            <input type="text" class="hint form-control-plaintext" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <textarea class="form-control" rows="8" readonly></textarea>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Game Rules</h5>
        <p>Players take turns removing any number of remaining objects from a single heap. The player that takes the last object from the last heap loses.</p>
        <h5 class="card-title">How to Play</h5>
        <ol>
            <li>Enter the desired heap sizes between 1 and 12, then click <strong>Click to Play</strong>.</li>
            <li>Click a button to remove that many objects from its heap.</li>
        </ol>
        <a href="https://en.wikipedia.org/wiki/Nim" class="card-link" target="_blank">Wikipedia</a>
        <a href="https://github.com/AggieEngineer2k/Nim" class="card-link" target="_blank">GitHub Project</a>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            new Nim.Web.Home.Index({
                form: $('.form')
            });
        });
    </script>
}